<!DOCTYPE html>
<html>

<head>
  <%- include('includes/head'); %>
</head>

<body>
  <%- include('includes/header'); %>
  <%- include('includes/main'); %>
  <%- include('includes/footer'); %>

  <!-- Load subscribe.js - subscribes to middleware for browser refresh -->
  <script src="javascripts/subscribe.js"></script>
</body>

</html>